---
import style from "./style.module.css";
import BigTitle from "../../components/big-title/big-title.astro";
import Button from "../../components/button/button.astro";

interface Props {
    title: string;
    accentTitle: string;
    description: string;
}

const { title, accentTitle, description } = Astro.props;
---

<section class={`${style.container} section`} id="inicio">
    <div class={style.bgShape}></div>
    <div class="delimiter">
        <div class={style.subcontainer}>
            <BigTitle 
                subtitle="Bienvenidos a VISUS" 
                title={title} 
                accentTitle={accentTitle} 
            />
            <p class={style.subtitle}>{description}</p>
            <div class={style.buttons}>
                <Button className={style.heroBtn} variant="primary" href="https://wa.me/+543513856706">Contactanos</Button>
                <Button className={style.heroBtn} variant="secondary" href="#nosotros">Conocenos</Button>
            </div>
        </div>
    </div>
</section>
