---
import style from './style.module.css';

interface Props {
    title: string;
    accentTitle?: string;
    subtitle?: string;
    as?: 'h1' | 'h2' | 'h3';
}

const { title, accentTitle, subtitle, as: Tag = 'h2' } = Astro.props;
---

<div class={style.container}>
    {subtitle && <span class={style.subtitleLabel}>{subtitle}</span>}
    <Tag class={style.title}>
        {title} {accentTitle && <span class={style.accent}>{accentTitle}</span>}
    </Tag>
</div>
