---
import style from "./style.module.css";
import BigTitle from "../../components/big-title/big-title.astro";
import ClientsCarrousel from "../../components/clients-carrousel/clients-carrousel.astro";
---

<section id="clientes" class={`${style.container} section reveal`}>
	<div class="delimiter">
		<div class={style.subcontainer}>
			<BigTitle
				subtitle="Nuestros Clientes"
				title="Compartiendo"
				accentTitle="Valores Éticos"
			/>
			<p class={style.text}>
				Nuestros clientes nos eligen porque compartimos valores. Nosotros los elegimos
				porque representan siempre un desafío. Nuestra asistencia les permite tomar mejores
				decisiones, ser mejores empresas y lograr sus objetivos por ser sensatos y
				responsables con su visión.
			</p>

			<div class={style.highlightBox}>
				<h3 class={style.challengeTitle}>Nuestros clientes son nuestra fortaleza</h3>
				<p class={style.challengeText}>
					"No tenemos pequeños y/o grandes clientes; si tenemos pequeños y grandes
					desafíos, y siempre nos dan la oportunidad de ser mejores en lo que hacemos"
					<br />
					Ellos nos elijen por quienes somos.
				</p>
			</div>
		</div>
	</div>
	<ClientsCarrousel />
</section>
